.asset-selector {
  width: 100%;
  height: 95%;
}

.asset-selector__list {
  width: 100%;
  height: 85%;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
  overflow: hidden;
}

.asset-selector__item {
  width: 50%;
  height: fit-content;
  list-style: none;
}

.asset-selector__button {
  font-size: 175%;
  width: 50%;
  height: 25%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
}

.asset-selector__button:hover {
  background-color: #555555;
  transition: 1s;
}

.reset-selector {
  margin-top: 1%;
  width: 95%;
  height: 5%;
  cursor: pointer;
  z-index: 1;
  font-size: 200%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
}

.reset-selector:hover {
  background-color: #555555;
  transition: 1s;
}
