.audio-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 25px;
}

.audio-output__field {
  width: 75%;
  display: flex;
  gap: 25px;
  padding: 10px;
  background-color: #201c1c;
  border: 1px solid white;
  border-radius: 15px;
  color: #43c9b0;
}

.audio-output__name {
  margin: 0;
  color: white;
}

.audio-output__text {
  margin: 0;
}

.audio-player {
  width: 85%;
}
