.audio-selector {
  width: 100%;
  height: 95%;
}

.audio-selector-wrapper__list {
  width: 100%;
  height: 85%;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
  overflow: hidden;
}

.audio-selector-wrapper__item {
  width: 50%;
  height: 5%;
  list-style: none;
}

.audio-selector-wrapper__button {
  font-size: 175%;
  width: 50%;
  height: 100%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
}

.audio-selector__button:hover {
  background-color: #555555;
  transition: 1s;
}

.audio-selector__reset {
  font-size: 175%;
  width: 95%;
  height: 5%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
  margin-top: 15px;
}

.audio-selector__reset:hover {
  background-color: #555555;
  transition: 1s;
}
