.audio-selector__list {
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  overflow: auto;
  gap: 15px;
  padding: 0;
  margin: 15px 0 0 0;
}

.audio-selector__list::-webkit-scrollbar {
  display: none;
}

.audio-selector__item {
  list-style: none;
  width: 100%;
}
