.bg-selector {
  margin-top: 1%;
  width: 100%;
  height: 95%;
}

.bg-selector__container {
  width: 100%;
  height: 100%;
}

.bg-selector__list {
  width: 100%;
  height: 85%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.bg-selector__item {
  width: 50%;
  height: 25%;
  list-style: none;
}

.bg-selector__button {
  font-size: 175%;
  width: 50%;
  height: 25%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
}

.bg-selector__button:hover {
  background-color: #555555;
  transition: 1s;
}

.bg-selector__reset {
  width: 95%;
  height: 5%;
  cursor: pointer;
  z-index: 1;
  font-size: 200%;
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 1s;
  padding: 0;
}

.bg-selector__reset:hover {
  background-color: #555555;
  transition: 1s;
}

.background__list {
  width: 100%;
  height: 75%;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 15px;
  overflow-y: scroll;
}

.background__list::-webkit-scrollbar {
  display: none;
}

.background__item {
  padding: 0;
  margin: 15px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
